* {
    font-family: cursive;
}

:root {
    --topbottom: aqua;
    --body: blue;
}

header, footer {
    margin: 5vh;
    background: var(--topbottom);
    font-size: xx-large;
    width: 100%;
}

header h1 {
    text-align: left;
    display: inline;
    font-size: xx-large;
}

header h2 {
    background: lightpink;
    display: inline-block;
    text-align: right;
}

h3 {
    display: inline;
    background: lightpink;
    text-align: left;
    font-size: x-large;
}

section p {
    left: 20%;
    margin-left: 150px;
}

/* lines seperating sections */
.line {
    border-right: 6px solid black;
    height: 200%;
    position: absolute;
    left: 8%;
    margin-left: -3px;
    top: 15%;
}

/* section {
    scroll-behavior: smooth;
} */

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: black;
    padding: 5px 10px;
    text-align: justify;
    top: 50px;
}


#work {
   border: 10px solid blue;
   margin: 5px;
}

.card {
    border: 2px dashed green;
    margin-left: 70%;
    padding: 50%;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.cardone {
    border: 2px dashed green;
    margin-left: 70%;
    padding: 50%;
    width: 200%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

section h3 {
    left: 50px;
    border: 10px solid goldenrod;
}


/* 
nav div {
    border: 5px solid black;
    width: 1000px;
    padding: 10px;
    height: 500%;
    left: 150px;
    margin-left: 25%;
    display: flex;
    justify-content: space-around;
    position: relative;
    
    

} */

#contactme {
    border: 10px solid blue;
    margin: 5px;
    box-shadow: inset;
}

#resume {
    border: 10px solid blue;
    margin: 5px;
    box-shadow: inset;
}

section {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
    .card{
        width: 45%;
    }
}

@media screen and (max-width: 992px) {
    .card{
        width: 90%;
    }
}














footer {
    margin: 5vh;
    background: var(--topbottom);
    text-align: center;
    font-size: large;
}

