* {
    font-family: cursive;
}

:root {
    --topbottom: aqua;
    --body: blue;
}

header, footer {
    background: var(--topbottom);
    font-size: xx-large;
    width: 100%;
}

header h1 {
    display: flex;
    justify-content: flex-start;
    display: inline;
    font-size: xx-large;
}

header h2 {
    background: lightpink;
    display: inline-block;
    text-align: right;
}

h3 {
    display: flex;
    background: salmon;
    font-size: x-large;
    align-items: start;
    left: 5px;

}

/* moving text to the right of the line  */
section p {
    left: 20%;
    margin-left: 150px;
    align-items: center;
}

/* line seperating sections */
.line {
    border-right: 6px solid black;
    height: 200%;
    position: absolute;
    left: 8%;
    /* margin-left: -3px; */
    top: 17%;
}

/* section {                    page refreshes and scrolls to the bottom???
    scroll-behavior: smooth;
} */

nav {
    display: flex;
    justify-content: flex-end;
}

/* about me work contact me links top right  */
nav a {
    color: black;
    padding: 5px 10px;
    text-align: justify;
    position: relative;
    bottom: 80px;
}

.cardone {
    border: 10px solid lightskyblue;
    left: 20%;
    padding: 30%;
    width: 200%;
    height: 100px;
    background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcHUyMzQ0NTMxLWltYWdlLWt3dnk3bndtLmpwZw.jpg);
    
}

.cardtwo {
    border: 10px solid lightskyblue;
    left: 20%;
    padding: 10%;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    background-image: url(https://static.vecteezy.com/system/resources/previews/003/334/909/large_2x/desktop-source-code-and-wallpaper-by-coding-and-programming-free-photo.jpg);
}

.cardthree {
    border: 10px solid lightskyblue;
    left: 20%;
    padding: 10%;
    width: 40%;
    text-align: center;
    background-image: url(https://as2.ftcdn.net/v2/jpg/02/18/53/75/500_F_218537567_Z4W3By4FP4VTi8ncqA0Uv1RiGdcuKWnk.jpg);
}

/* profile picture image details  */
main img {
    border-radius: 80%;
    width: 10%;
    margin-left: 40px;
    top: 80px;

}

/* card imagees sizing details  */
section {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: flex-start;
}

@media screen and (max-width: 992px) {
    .carone, .cardtwo, .cardthree{
        width: 45%;
    }
}

@media screen and (max-width: 992px) {
    .carone, .cardtwo, .cardthree{
        width: 90%;
    }
}














footer {
    background: var(--topbottom);
    text-align: center;
    font-size: large;
}

